<div class='chat-header'>
  <div class='chat-header-title'>
    hoge
  </div>
  <div class='chat-header-button'>
    huga
  </div>
</div>
<div class='messages'>
</div>
<div class='form'>
  <div class='form-input'>
    <input class='form-message' placeholder='メッセージを入力'>
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class='form-submit' type='submit' value='送信'>
</div>