<div class='in-header'>
  <div class='logo-div'>
    <h1 class='logo'><%= link_to 'Gamebo', root_path %><i class="fas fa-headset logo-i"></i></h1>
  </div>
  <%= link_to '新規登録はこちら', new_user_registration_path, class: 'log-sign' %>
</div>