<div class='side'>
  <div class='rooms'>
    <p class='side-title'><i class="fas fa-caret-down side-title-mark"></i>チャットルーム</p>
    <% current_user.rooms.each do |room| %>
      <div class="room">
        <div class="room-name">
          <%= link_to room.name, room_messages_path(room) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class='new-room-div'>
    <label class='new-room-label'>
      <%= link_to image_tag('fa-plus.png', class: 'new-room-image'), new_room_path %>
    </label>
  </div>
</div>