// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// トップページのCSS

.top-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background-color: #24272b;

  .logo-div {
    display: flex;

    .logo {
      font-size: 40px;
      margin: 0 20px;
      a {
        text-decoration: none;
        color: #82c0cd;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
      }

      .logo-i {
        color: #82c0cd;
        margin-left: 5px;
      }
    }
  }
}

.header-list {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  li {
    display: inline-block;
    color: #FFF;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #2a2e31 0%, #797979 100%);
    outline: none;
    font-size: 15px;
    margin-left: 7px;
    line-height: 30px;
    a {
      color: #FFF;
      width: 80px;
      height: 30px;
      display: block;
      text-decoration: none;
      transition: .4s;
      overflow: hidden;
    }
    a:hover {
      color: rgb(175, 175, 175);
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  li:hover {
    
  }
}

.content {
  display: flex;
}

.side {
  background-color: #546474;
  width: 230px;
  height: calc(100vh - 50px);
  padding: 0 15px;
  overflow: scroll;
  position: relative;

  .side-title {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;

    .side-title-mark {
      color: white;
      margin-right: 5px;
      font-size: 17px;
    }
  }

  .room {
    padding: 10px 10px 0 20px;
    .room-name a {
      text-decoration: none;
      color: white;
      font-size: 15px;
      font-weight: bold;
    }
  }

  .new-room-div {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 30px;


    .new-room-label {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 60px;
      height: 60px;

      .new-room-image {
        background-color: #546474;
        border: 2px solid whitesmoke;
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }
    }
  }
}



// ログイン・新規登録のCSS

.in-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background-color: #24272b;

  .logo-div {
    display: flex;

    .logo {
      font-size: 40px;
      margin: 0 20px;
      a {
        text-decoration: none;
        color: #82c0cd;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
      }

      .logo-i {
        color: #82c0cd;
        margin-left: 5px;
      }
    }
  }

  .log-sign {
    text-decoration: none;
    outline: none;
    color: white;
    height: 15px;
    font-weight: bold;
  }
  .log-sign:hover {
    color: lightblue;
  }
}

.user-registration {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 15px);

  h2 {
    color: white;
    font-weight: bold;
    font-size: 27px;
  }

  .form-text-wrap {
    color: white;

    .form-text {
      margin-right: 7px;
      font-weight: bold;
    }
  }

  .input-default {
    font-size: 20px;
    height: 28px;
    width: 35vw;
    resize: none;
    outline: none;
  }

  .sign-btn {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 18px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 9px;   /* 余白       */
    background    : #7f7f7f;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 4px 4px 3px #666666;  /* 影の設定 */
    border        : 2px solid #7f7f7f;    /* 枠の指定 */
    margin-bottom: 30px;
  }

  .sign-btn:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    color         : #7f7f7f;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }
}
