// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// トップページのCSS

.top-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  .logo {
    font-size: 40px;
    margin: 0 20px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.header-list {
  list-style: none;
  display: flex;
  align-items: center;
  li {
    display: inline-block;
    color: #FFF;
    line-height: 50px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #111c35 0%, #a5a5a5 100%);
    outline: none;
    font-size: 21px;
    margin: 0 10px;
    a {
      color: #FFF;
      width: 120px;
      height: 50px;
      display: inline-block;
      text-decoration: none;
      transition: .4s;
    }
    a:hover {
      color: rgb(175, 175, 175);
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  li:hover {
    
  }
}

.content {
  display: flex;
}

.side {
  background-color: rgb(37, 37, 37);
  width: 230px;
  height: calc(100vh - 70px);
  padding: 0 20px;
  overflow: scroll;
  .new-room {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
  }
  .room {
    padding: 10px 10px;
    .room-name a {
      text-decoration: none;
      color: white;
    }
  }
}

.chat {
  background-color: rgb(47, 144, 235);
  width: calc(100vw - 230px);
  height: calc(100vh - 70px);
  .chat-header {
    background-color: rgb(51, 51, 51);
    height: 60px;
    display: flex;
    justify-content: space-between;
    .chat-header-title {
      margin-top: 15px;
      margin-left: 10px;
    }
    .chat-header-button {
      margin-top: 15px;
      margin-right: 10px;
    }
  }
  .messages {
    height: calc(100vh - 70px - 60px - 60px);
    padding: 40px 40px 0;
  }
  .form {
    background-color: white;
    height: 60px;
    padding: 20px 40px;
  }
}


// ログイン・新規登録のCSS

.user-registration {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}