// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// トップページのCSS

.top-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background-color: #24272b;
  .logo {
    font-size: 40px;
    margin: 0 20px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.header-list {
  list-style: none;
  display: flex;
  align-items: center;
  li {
    display: inline-block;
    color: #FFF;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #24272b 0%, #a5a5a5 100%);
    outline: none;
    font-size: 15px;
    margin-left: 7px;
    line-height: 30px;
    a {
      color: #FFF;
      width: 80px;
      height: 30px;
      display: inline-block;
      text-decoration: none;
      transition: .4s;
    }
    a:hover {
      color: rgb(175, 175, 175);
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  li:hover {
    
  }
}

.content {
  display: flex;
}

.side {
  background-color: #546474;
  width: 230px;
  height: calc(100vh - 50px);
  padding: 0 20px;
  overflow: scroll;
  .new-room {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
  }
  .room {
    padding: 10px 10px;
    .room-name a {
      text-decoration: none;
      color: white;
    }
  }
}


.hidden {
  display: none;
}


// ログイン・新規登録のCSS

.user-registration {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 15px);

  h2 {
    color: white;
  }

  .form-text-wrap {
    color: white;
  }

  .input-default {
    font-size: 20px;
    height: 28px;
    width: 35vw;
    resize: none;
    outline: none;
  }
}
.log-sign {
  text-decoration: none;
  outline: none;
  color: white;
  height: 15px;
}
.log-sign:hover {
  color: lightblue;
}