// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.chat {
  background-color: rgb(134, 140, 146);
  width: calc(100vw - 230px);
  height: calc(100vh - 50px);

  .chat-header {
    background-color: #848a96;
    height: 60px;
    display: flex;
    justify-content: space-between;

    .chat-header-title {
      margin-top: 15px;
      margin-left: 10px;
      color: white;
      font-weight: bold;
    }

    .chat-menu-div {
      margin-top: 15px;
      margin-right: 10px;
      color: white;
      font-weight: bold;
      width: 100px;
      .chat-list-ul {
        text-align: end;
        list-style: none;
        .drop-menu {
          width: 100%;
          i {
            font-size: 25px;
            margin-right: 20px;
          }
          .drop-element {
            width: 100%;
            display: none;
            padding: 1px 2px;
            border-radius: 5px;
            background: rgb(96, 99, 102);
            list-style: none;
            li {
              a {
                text-decoration: none;
                color: white;
              }
              a:hover {
                color: rgb(169, 208, 231);
              }
            }
          }
        }
      }
    }
  }


  .messages {
    background-color: #9aadbe;
    height: calc(100vh - 50px - 60px - 60px);
    padding: 0px 10px;
    overflow: scroll;
    scrollTop: 100%;

    .message {
      margin-top: 15px;
      max-width: 80%;
      display: flex;
      position: relative;

      .upper-message {


        .chat-icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid whitesmoke;
          background-color: white;
          margin-top: 5px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;

          .user-icon-i {
            font-size: 37px;
          }
        }
      }

      .lower-message {
        .message-user {
          font-size: 12px;
          color: white;
        }

        .message-text {
          color:black;
          font-size: 19px;
          line-height: 21px;
          padding: 0 5px;
          border-radius: 15px;
        }

        .message-date {
          font-size: 5px;
          color: rgb(204, 202, 202);
        }
      }
    }

    .message-right {
      float: right;
      clear: both;

      .right-text {
        background-color: chartreuse;
        border: 2px solid lightgreen;
      }
    }

    .message-image-right {
      float: right;
      clear: both;
      margin-bottom: 7px;
    }

    .message-left {
      float: left;
      clear: both;

      .left-text {
        background-color: whitesmoke;
        border: 2px solid white;
      }
    }

    .message-image-left {
      float: left;
      clear: both;
      margin-bottom: 7px;
    }
  }


  .form {
    background-color: #848a96;
    height: 60px;
    padding: 15px 30px;
    display: flex;

    .form-input {
      background-color: white;
      display: flex;
      width: 100%;
      height: 30px;
      border-radius: 7px;

      .form-message {
        background-color: white;
        border: none;
        height: 28px;
        width: 100%;
        padding-left: 10px;
        border-radius: 7px;
        resize: none;
        outline: none;
        padding-top: 2px;
      }

      .form-image {
        font-size: 15px;
        background-color: lightblue;
        color: white;
        padding: 0 10px;
        width: 50px;
        margin: 5px 5px;
        text-align: center;
        border: none;
        border-radius: 5px;
        line-height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .form-submit {
      text-align: center;
      font-size: 21px;
      margin-left: 15px;
      padding: 1px;
      color: whitesmoke;
    }

    .form-submit:hover {
      color: lightblue;
    }
  }
}
