// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  background-color: #848a96;
  width: calc(100vw - 230px);
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-edit-a {
    text-decoration: none;
    color: whitesmoke;
    width: 100%;
  }

  .user-edit-a:hover {
    color: lightskyblue;
  }

  .upper-user-page-icon {
    width: calc(100vw - 230px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-name {
    color: whitesmoke;
    font-size: 50px;
    height: 70px;
    // border: 1px solid black;
    margin: 20px 0;
  }
  .user-text {
    color: whitesmoke;
    font-size: 20px;
  }
}

// ユーザーアイコン
.div-user-page-icon {
  height: 200px;
  width: 200px;
  border: 3px solid whitesmoke;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .normal-icon {
    font-size: 150px;
  }
}

.s {
  display: flex;
  justify-content: center;
  flex-direction: column;
}